html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 55px;
    margin-bottom: 100px;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background: #f1f1f1;
    
}

.loader{
    display: fixed;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    height: 100vh;
    justify-items: center;
}

